{% extends "base.html" %} 
{% load static %}
{% block content %} 

<div class="container-fluid hero-container">
    <div class="row hero overlay hero-image img-fluid">
        <div class="col-12 hero-text">
            <h1>Location Location Location</h1>
            <p>Share your favourite places</p>
            <p>Find new places</p>
            <a class="btn btn-lg btn-outline-dark btn-hero" 
                href="{% url 'post_list' %}" role="button">Posts</a>
        </div>
    </div>
</div>
<section>
    <h2 class="text-center">Locations!</h2>
    <div class="text-center">
        <h3>Welcome to Explore The World, where you can share your favourite places in Ireland</h3>
        <p>This site has been created to share information about fabulous locations.</p>
        <p>Are you looking for ideas of new places to see? You can view location posts left by other users.</p>
        <p>When logged in you can read the detailed posts, leave comments and like other user's posts.</p>
        <p>Logged in users can also create, edit and delete their own posts.</p>
        <p>The site admin has the right to remove posts and comments that are not in keeping with the sites ethos!</p>
    </div>
</section>           

{%endblock%}