{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <h3 class="post-title">{{ post.location }}</h3>
                <p class="post-subtitle"><span class="posting-name">{{ post.author }}</span> | {{ post.created_on|date }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img class="detail-img" src="{% static 'images/stock.jpg' %}"
                    alt="Image of clifftop overlooking the sea">
                {% else %}
                <img class="detail-img" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">{{ post.content | safe }}</p>
                <div class="row">

                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}

                            <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                class="btn-like" aria-label="like post">
                                <i class="fas fa-heart"></i>
                            </button>

                            {% else %}

                            <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                class="btn-like" aria-label="like post">
                                <i class="far fa-heart"></i>
                            </button>

                            {% endif %}
                        </form>
                        {% else %}

                        <span class="text-secondary"><i class="far fa-heart"></i></span>

                        {% endif %}
                        <span class="text-secondary"> {{ post.number_of_likes }}</span>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="{% url 'post_list' %}" role="button" class="btn btn-lg btn-outline-dark btn-post">Back to Posts</a>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <span class="posting-name">{{ comment.name }}</span>
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on|date }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as <span class="posting-name">{{ user.username }}</span></p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}