{% extends "base.html" %} 

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Add Location Post</h1>
            <p>Excerpt - brief description</p>
            <form method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %} 
                <input type="submit" value="Create" class="btn btn-lg btn-outline-dark">
            </form>
        </div>
    </div>
</div>

{%endblock%}